{% extends 'productmonitoring/base.html' %}
{% load staticfiles  crispy_forms_tags %}

{% block content %}
            <table class="table table-responsive" >
                <thead>
                    <tr>
                        <th>Number</th>
                        <th class="text-left">Page Link</th>
                        <th class="text-left">Name</th>
                        <th class="text-left">Price</th>
                        <th class="text-left">Old Price</th>

                    </tr>
                </thead>
                <tbody>
                {% for q in object_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td class="text-left"> {{q.pageLink.pageLink }}</td>
                        <td class="text-left">{{q.name }}</td>
                        <td class="text-left">{{q.price }}</td>
                        <td class="text-left">{{q.old_price }}</td>
                    </tr>
                {% endfor %}
                 </tbody>
            </table>

{% endblock %}
